
4
body {
	background-color: #FAFAFA;
	font-family: 'helvetica neue', ariel;
	font-size: 15px;
	line-height: 18px;
}
	.navbar {
		background-color: #ffffff;
		padding: 10px;
		border-bottom: 1px solid #E7E7E7;
	}
		.search {
			margin-top: .5em
		}
		.nav-icons {
			margin-top: .5em;
			color: #000000;
		}
			.icon {
				font-size: 1.5em;
				margin-right: 1em;
			}
				.icon:hover {
					cursor: pointer;
				}
	.post {
		position: absolute;
		left: 30%;
		top: 20%;
		right: 30%;	  
	}
		.user-info{
			background-color: #ffffff;
			padding: 1em;
			width: 650px;
			border: 1px solid #E7E7E7;
		}
		.user-image {
			border: 1px solid #000000;
			border-radius: 100px;
			padding: 0.1em;	
			font-size: 2em;
		}
		.caption {
		background-color: #ffffff;
		padding: 1em;
		width: 650px;
		border: 1px solid #E7E7E7;
		}
			.like {
				font-size: 1.5em;
			}
				.like:hover {
				cursor: pointer;
				}
	.fa-heart {
		color: #ff0000;
	}
	
	textarea {
		outline: none;
		resize: none;
		border: 0px solid #000000;
		text-overflow: hidden;
	}
	.footer {
		justify-content: center;
	    margin-top: 60%;
	    padding: 0em 10em 2em 45em;
	    color: blue;
	}